<!DOCTYPE html>
<html lang="en">
<head>
       {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/favicon4.png' %}" type="images/favicon3.png">
    <title>Копи-центр</title>
</head>
<body>
<header>
    {% include 'header.html' %}
</header>
{% comment %} <div class="container-2">
    123123
</div> {% endcomment %}
{% include 'footer.html' %}
</body>
</html>