{% load static %}
<div class="container">
    <div class="logo">
        <a href="/"><img src="{% static "images/logo.png" %}" alt="чгн"></a>
    </div>
    <div class="menu">
        <nav>
            <ul>
                <li><a href="/" class="nav-link">Главная</a></li>
                <li><a href="#" class="nav-link">Прайс-лист</a></li>
                <li><a href="{% url 'about' %}" class="nav-link">О нас</a></li>
                {% if not user.is_authenticated %}
                <li><a href="{% url 'login' %}" class="nav-link">Авторизация</a></li>
                {% endif %}
{% if user.is_authenticated and not user.is_superuser %}
<li class="dropdown" id="user-dropdown">
<a href="#" class="nav-link dropdown-toggle no-underline">Профиль<span class="arrow">▼</span></a>
<div class="dropdown-menu">
<a href="{% url 'profile' %}" class="dropdown-item">Личный кабинет</a>
<a href="{% url 'orders' %}" class="dropdown-item">Сделать заказ</a>
<a href="{% url 'logout' %}" class="dropdown-item">Выход</a>
</div>
</li>
{% endif %}

{% if user.is_authenticated and user.is_superuser %}
<li class="dropdown" id="admin-dropdown">
<a href="#" class="nav-link dropdown-toggle no-underline">Администратор<span class="arrow">▼</span></a>
<div class="dropdown-menu">
<a href="/admin/" class="dropdown-item">Админ-панель</a>
<a href="{% url 'orders_list' %}" class="dropdown-item">Заказы</a>
<a href="{% url 'logout' %}" class="dropdown-item">Выход</a>
</div>
</li>
{%endif%}
            </ul>
        </nav>
    </div>
</div>