<!DOCTYPE html>
<html>

<head>
    <title>Копи-центр</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/favicon4.png' %}" type="images/favicon3.png">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <script src="{% static 'js/script.js' %}"></script>
    <header>
        {% include 'header.html' %}
    </header>

    <!-- Карусель -->
    <div class="carousel">
        <div class="carousel-track">
            {% for n in news %}
            {% if n.images %}
            <div class="carousel-slide {% if forloop.first %} active {% endif %}">
                <img src="{{ n.images.url }}" alt="картинка">
                {% if n.images_title_big or n.images.title or n.images_description %}
                <div class="carousel-content">
                    {% if n.images_title_big %}<p class="news-big-title">{{ n.images_title_big }}</p>{% endif %}
                    {% if n.images_title %}<p class="news-title">{{ n.images_title }}</p>{% endif %}
                    {% if n.images_description %}<p class="news-text">{{ n.images_description }}</p>{% endif %}
                </div>
                {%endif%}
            </div>
            {% endif %}
            {% endfor %}
        </div>

        <button class="carousel-btn prev" onclick="moveSlide(-1)">&#10094;</button>
        <button class="carousel-btn next" onclick="moveSlide(1)">&#10095;</button>

        <div class="carousel-dots">
            {% for n in news %}
            {% if n.images %}
            <button class="carousel-dot{% if forloop.first %} active{% endif %}"
                onclick="goToSlide({{ forloop.counter0 }})"></button>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% include 'footer.html' %}
</body>

</html>